{% extends '/admin/base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <body class="back-grey"></body>

    <div class="row justify-content-between m-4">
        <h1 style="color: whitesmoke" id="title">Categories</h1>
        <a href="{{ path('app_category_new') }}" class="btn btn-secondary align-self-center">Create category</a>
    </div>

    <table class="table text-white">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>Id</th>
                <th>Name</th>
                <th>ParentCategory</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr class="text-center">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.parentId }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <div class="row justify-content-center action-buttons">
                        <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn mr-2 text-white">
                            <i class="gg-eye mt-2"></i>
                        </a>
                        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn mr-2 text-warning">
                            <i class="gg-pen"></i>
                        </a>
                        {{ include('category/_delete_trash_icon_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="container-fluid">
        <div class="row justify-content-end m-1">
            {{ knp_pagination_render(categories) }}
        </div>
    </div>
{% endblock %}
